:root {
    color-scheme: light dark;
}

body {
    width: 200px;
    padding: 15px;
    font-family: system-ui, sans-serif;
    text-align: center;
    background-color: var(--background-color);
    color: var(--text-color);
}

.title {
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 28px;
    font-weight: 400;
}

.outline-button {
    display: block;
    width: 180px;
    padding: 8px;
    margin: 8px auto;
    font-size: 20px;
    border: 1px solid var(--border-color);
    border-radius: 50px;
    background: var(--button-bg);
    color: var(--text-color);
    cursor: pointer;
}

.outline-button:hover {
    background: var(--button-hover);
}

.checkbox-container {
    display: flex;
    align-items: left;
    justify-content: left;
    gap: 6px;
    margin-top: 20px;
}